# Project files
.idea
nbproject
*.iml
out
gen

# Composer
/vendor/
composer.lock

# Coverage reports etc..
/build/*
/.phpunit.result.cache
/coverage-html/
/.phpunit.cache/
/.env
/.phpunit.cache/test-results
