<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <!-- Задаём кэш через переменную окружения для PHPUnit ≥9.3 -->
    <php>
        <env name="PHPUNIT_CACHE_RESULT" value=".phpunit.cache" />
    </php>

    <testsuites>
        <testsuite name="Modseven Tests">
            <directory suffix="Test.php">tests/Unit</directory>
            <directory suffix="Test.php">tests/Integration</directory>
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./system/classes</directory>
        </include>
    </coverage>
</phpunit>
